<nav>
    <div id="logo">
        <a href="/"><img src="/logo.svg" alt="Logo"/></a>
    </div>
    <div class="links">
        <a href="/music">Music</a>
        <a href="/mixes">Mixes</a>
        <a href="/contact">Contact</a>
    </div>
    <div class="burger-menu">
        <span></span>
        <span></span>
        <span></span>
    </div>
</nav>
<div class="mobile-menu">
    <div class="links">
        <a href="/music">Music</a>
        <a href="/mixes">Mixes</a>
        <a href="/contact">Contact</a>
    </div>
</div>
